In [1]:
print('Hello Avinash')

Hello Avinash

In [2]:
num = 29

In [3]:
num

29

In [4]:
type(num)

int

In [5]:
a = 4/5

In [6]:
a;

In [7]:
a

0.8

In [8]:
type(a);

In [9]:
type(a)

float

In [10]:
print("Oh I see this is a amazing thing")

Oh I see this is a amazing thing

In [11]:
len('Hello world Avinah')

18

In [12]:
len("HOW ARE YOU")

11

In [13]:
print("Hello avinash")

Hello avinash

In [14]:
"avinash"

'avinash'

In [15]:
'avinash'

'avinash'

In [16]:
"OK I understand these things clearly"

'OK I understand these things clearly'

In [17]:
mystring= 'avinash'

In [18]:
mystring[3:]

'nash'

In [19]:
mystring[:3]

'avi'

In [20]:
"m jait yamla pagla devana ooo raba"

'm jait yamla pagla devana ooo raba'

In [21]:
mystring[::-1]

'hsaniva'

In [22]:
mystring[-2]

's'

In [23]:
avinash

NameError: name 'avinash' is not defined

In [24]:
x = 'avinash kumar'

In [25]:
x.upper()

'AVINASH KUMAR'

In [26]:
x = 'Avinash KUMAR'

In [27]:
x.lower()

'avinash kumar'

In [28]:
x='I am the good guy with extra abilities'

In [29]:
x.split()

['I', 'am', 'the', 'good', 'guy', 'with', 'extra', 'abilities']

In [30]:
(x.upper()).split()

['I', 'AM', 'THE', 'GOOD', 'GUY', 'WITH', 'EXTRA', 'ABILITIES']

In [31]:
print('My name is {}'.format('Avinash'))

My name is Avinash

In [33]:
print('My name is {1} {0}'.format('Kumar','Avinash'))

My name is Avinash Kumar

In [34]:
print('Python is very interesting language I just started this I love this')

Python is very interesting language I just started this I love this

In [35]:
x = 100/77

In [36]:
x

1.2987012987012987

In [39]:
print('The result is {r:1.3f}'.format(r=x))

The result is 1.299

In [43]:
result = 1.22282355

In [44]:
print('The number is {r:1.3f}'.format(r=result))

The number is 1.223

In [45]:
"Ok I understanded what this shit is"

'Ok I understanded what this shit is'

In [47]:
name = 'Avinash'
age = '20'

In [48]:
print(f'{name} age is {age} years old')

Avinash age is 20 years old

In [49]:
print(f'Hello world {name} is great guy')

Hello world Avinash is great guy

In [50]:
"Initially I have to give the f then with two exclamatory marks we can use this statements"

'Initially I have to give the f then with two exclamatory marks we can use this statements'

In [1]:
pwd

'C:\\Users\\Avinash kumar'

In [2]:
import math

In [3]:
math.sqrt(4)

2.0

4 ** 0.5

In [4]:
4**0.5

2.0

In [8]:
mylist  = [1,2,3,4,5,6,7,8,9,10]
for item in mylist:
    if item % 2 == 0:
        print(item)

2
4
6
8
10

In [3]:
#tuple unpacking
mylist = [(1,2),(3,4),(5,6),(7,8)]
for a,b in mylist:
    print(a)
    print(b)
for arr in mylist:
    print(arr)

1
2
3
4
5
6
7
8
(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [4]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]
for arr in mylist:
    print(arr)
for a,b,c in mylist:
    print(a)
    print(b)
    print(c)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
1
2
3
4
5
6
7
8
9

In [7]:
a = chr(65)

In [8]:
a

'A'

In [44]:
alp = [['A','B','C','D','E'],['F','G','H','I','J'],['K','L','M','N','O'],['P','Q','R','S','T'],['U','V','W','X','Y'],['Z','','','','']]
for x in range(0,6):
  for y in range(0,5):
    print(alp[x][y],end=" ")
  print('')
print('Think about the Name and your name contain the letters?')
length = int(input())
column = []
print('Choose the columns of letters of the name')
for x in range(0,length):
  item = int(input())
  column.append(item)
new_list = []
ar = [[0 for j in range(6)] for i in range(length)]
for x in range(0,length):
  for y in range(0,6):
    ar[x][y] = alp[y][column[x]-1]
print('')
for x in range(0,length):
  for y in range(0,6):
    print(ar[x][y],end=" ")
  print("")
print('Again Choose the column of letters of Name')
num = []
for x in range(0,length):
  i = int(input())
  num.append(i)
print('The Name in Your Mind is')
for x in range(0,length):
  print(ar[x][num[x]-1],end=" ")

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y
Z
Think about the Name and your name contain the letters?
5
Choose the columns of letters of the name
4
1
2
1
3

D I N S X
A F K P U Z
B G L Q V
A F K P U Z
C H M R W
Again Choose the column of letters of Name
4
1
2
1
4
The Name in Your Mind is
S A G A R

In [1]:
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [2]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index, end=' ')
    print(letter)

0 a
1 b
2 c
3 d
4 e

In [4]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [5]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
for l1,l2 in zip(mylist1,mylist2):
    print(l1,end=' ')
    print(l2)

1 a
2 b
3 c

In [6]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [8]:
'x' in 'xman'

True

In [9]:
1 in [1,2,3]

True

In [10]:
4 in [1,2,3]

False

In [11]:
'mykey' in {'mykey':123}

True

In [12]:
123 in {'mykey':123}

False

In [13]:
d = {'mykey':123}
123 in d.values()

True

In [14]:
'mykey' in d.keys()

True

In [15]:
mylist=[11,111,12.3,12345]

In [16]:
min(mylist)

11

In [17]:
max(mylist)

12345

In [18]:
from random import shuffle

In [19]:
mylist = [12,3,4,5,6,7,8,9]

In [20]:
shuffle(mylist)

In [21]:
mylist

[5, 9, 12, 8, 7, 6, 3, 4]

In [22]:
from random import randint
randint(0,100)

60

In [23]:
result = input("Enter the number")

Enter the number50

In [24]:
type(result)

str

In [25]:
result = int(input("Enter the number"))

Enter the number40

In [26]:
result

40

In [27]:
type(result)

int

In [30]:
#List comprehension
mystring = 'abcdefgh'
mylist = [l for l in mystring]

In [31]:
mylist

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [32]:
mylist1 = [l for l in mylist]

In [33]:
mylist1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [34]:
mylist = [num for num in range(10)]

In [35]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
mylist = [x for x in range(11) if x%2==0]

In [37]:
mylist

[0, 2, 4, 6, 8, 10]

In [38]:
 results = [x if x%2==0 else 'ODD' for x in range(11)]

In [39]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [1]:
mylist = [1,2,3,4]
mylist.append(5)

In [2]:
mylist.pop(2)

3

In [3]:
mylist.insert(1,2)
mylist

[1, 2, 2, 4, 5]

In [4]:
def name_function():
    
    print('Hello')
    
name_function()

Hello

In [6]:
def say_hello(name='name'):
    print('Hello'+name)
say_hello()
say_hello('Avinash')

Helloname
HelloAvinash

In [9]:
def dog_check(mystring):
    if 'dog' in mystring.lower():
        return True
    else:
        return False
    
dog_check('there is a dog')
dog_check("there is not")

False

In [10]:
def dog_check(mystring):
    return 'dog' in mystring.lower()
dog_check('is there any dog')

True

In [11]:
dog_check('No there is no')

False

In [12]:
def word_latin(word):
    first_letter = word[0]
    if first_letter.lower() in 'aeiou':
        wrd = word+'ay'
    else: 
        wrd = word[1:]+first_letter+'ay'
    return wrd
word_latin("Hello")

'elloHay'

In [13]:
word_latin("Apple")

'Appleay'

In [14]:
min(2,3)

2

In [1]:
def check():
    static x = 0
    print(x)
    x +=1
check()
check()
check()

SyntaxError: invalid syntax (<ipython-input-1-dc3b6a2288c3>, line 2)